.headerImage {
  height: 40px;
}

body {
  padding-top: 0;
}

.header {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 10px;
  padding-top: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--tblr-body-bg);
}
