.orgcard {
  background-size: cover;
  background-position: center;
  aspect-ratio: 5/3;
  width: 100%;
}

.orgcardlink {
  width: 50%;
  max-width: 300px;
  text-decoration: none;
  color: inherit;
}

.orgcardlink > * {
  color: inherit;
  text-decoration: none;
}
